# Xcode user data
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build products
build/
DerivedData/
*.app
*.ipa
*.dSYM.zip
*.dSYM

# OS junk
.DS_Store
Thumbs.db

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved
.claude/
